/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #667eea, #5fc3e4);
  padding: 10px 20px;
}

.menu-btn {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.header-right {
  font-weight: bold;
} */
